*{
    scroll-behavior: smooth;
}
.jum1{
    background-color: rgba(19, 85, 100, 0.95);
}
.jum3{
    background-color: rgba(19, 85, 100, 0.95);
}
.jum1{
    height: 340px;
}
.jum1 .container h1{
    animation-name: start;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes start {
    0%{}
    50%{
        color: black;
        opacity: 0.9;
        transform: scale(1.2);
    }
    100%{
        color: white;
        opacity: 1;
        transform: scale(1);
    }
}

.jum1 .container img{
    width: 13%!important;
    height: 13%!important;
}
.jum2 .container .card-columns .bg-info img{
    width: 100%!important;
    height: 100%!important;
}
.jum3{
    height: 400px;
}
.jum3 .container button{
    margin: 0 auto;
}
@media only screen and (min-width: 576px) {
    .jum3{
        margin-top: 100px;
    }
    .jum4{
        margin-top: 100px !important;
    }
    .jum5 .container .row .c3{
    }
}
.jum4{
    animation-name: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    position: relative;
    animation-timing-function: initial;
}
@keyframes linear {
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}